<nav id="toc" style="top: 150px;">
	<small><a style="font-style: italic" href="javascript:history.back()" title="">< back</a></small>
	<ol>
		<li><a href="{{ site.url }}/backend/">Back End Intro</a></li>
		<li><a href="{{ site.url }}/backend/strings">Strings</a></li>
		<li><a href="{{ site.url }}/backend/user_input">User Input</a></li>
		<li><a href="{{ site.url }}/backend/control_flow">Control Flow</a></li>
		<li><a href="{{ site.url }}/backend/looping">Looping</a></li>
		<li><a href="{{ site.url }}/backend/integers_and_floats">Integers and Floats</a></li>
		<li><a href="{{ site.url }}/backend/twitter_1">Twitter Project </a></li>
		<li><a href="{{ site.url }}/backend/twitter_extensions">Twitter Project Extensions</a></li>
	</ol>
</nav>