       </div>
     </div>
   </div>
   <footer class="page-footer white">
    <div class="container footer-container">
      <div class="row">
        <div class="col l6 s12">
          <p class=""><a href="http://turing.io">Turing School of Software and Design</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>
