<nav id="toc" style="top: 150px;">
	<small><a style="font-style: italic" href="javascript:history.back()" title="">< back</a></small>
	<ol>
		<li><a href="{{ site.url }}{{page.courselanding}}">Front End Intro</a></li>
		<li><a href="{{ site.url }}{{page.courselanding}}html">Intro to HTML</a></li>
		<li><a href="{{ site.url }}{{page.courselanding}}javascript">Intro to JavaScript</a></li>
    <li><a href="{{ site.url }}{{page.courselanding}}connecting_fe_and_be">Frontend+Backend</a></li>
    <li><a href="{{ site.url }}{{page.courselanding}}css">Intro to CSS</a></li>
    <li><a href="{{ site.url }}{{page.courselanding}}extensions">Extensions</a></li>
	</ol>
</nav>