<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">
        <img
          src="/assets/icons/TuringSchool_LogoMark_Gray.png"
          alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase">
      <a href="https://www.eventbrite.com/cc/try-turing-2371969" target="blank">
        Upcoming Workshops
      </a>
    </li>
    <li class="uppercase">
      <a href="https://turing.edu" target="blank">
        Turing School
      </a>
    </li>
  </ul>
</nav>
