<nav>
  <ul class="main">
    <li class="home">
      <a class="logo" href="/">
        <div></div>
      </a>
    </li>
    {% for post in site.tags.back-end reversed %}
      {% if post.program == 'intro' %}
        <li class="intro">
          <a class="{% if post.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% for post in site.tags.front-end reversed %}
      {% if post.lessontype == "fe-new" %}
        {% if post.program == 'intro' %}
          <li class="intro">
            <a class="{% if post.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  {% unless page.program == "welcome" %}
  <ul class="sub">
    <details>
      <summary>
        View Lessons
      </summary>
      {% for post in site.tags.back-end reversed %}
        {% if post.program != 'intro' %}
          <li class="{% unless page.tags contains post.program %} hidden {% endunless %} post">
            <a class="{% if post.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %}
      {% endfor %}

      {% for post in site.tags.front-end reversed %}
        {% if post.lessontype == "fe-new" %}
          {% if post.program != 'intro' %}
            <li class="{% unless page.tags contains post.program %} hidden {% endunless %} post">
              <a class="{% if post.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </details>
  </ul>
  {% endunless %}
</nav>
