$light:#ffffff;
$turing-dark-gray:#262626;
$turing-light-gray:#4d4d4f;
$turing-blue:#00bbd2;
$turing-accent-blue:#42ffd4;
$turing-lighter-accent:#D9FFF6;
$teal: #05c2d1;
$dark-gray: #3c4040;
$medium-gray: #98a1a2;
$yellow: rgb(244, 213, 152);
