.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 2rem;
}

.card {
  background-color: white;
  padding: 2rem 2rem 1.5rem;
  display: inline-block;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 2rem;

  img {
    height: 7rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #5F5F5F;
  }

  p {
    text-align: center;
    color: #5F5F5F;
  }

  .curriculum-btn {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
    color: $light-gray;
    &:hover {
      color: #fff;
    }
  }
}

.fe-card {
  border-top: .75rem solid #f9ae06;
}

.be-card {
  border-top: .75rem solid #ef3852;
}

.special-card {
  border-top: .75rem solid #12f1fc;
}

@media screen and (max-width: 1024px) {
  .card-container {
    flex-direction: column;
    margin-top: 10%;
  }

  .card {
    width: 100%;
    min-height: 52.5%;
    margin-bottom: 35px;

    h2 {
      margin-bottom: 0;
    }

    img {
      height: 5rem;
    }

    p {
      width: 70%;
      height: 6rem;
    }

    .curriculum-btn {
      width: 70%;
    }
  }
}

@media screen and (max-width: 850px) {
  .card-container {
    margin-top: 2.5%;
  }

  .card {
    h2 {
      text-align: center;
    }

    img {
      height: 3.5rem;
    }

    p {
      height: 6rem;
      width: 100%;
    }

    .curriculum-btn {
      width: 100%;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    img {
      height: 2.5rem;
    }
    p {
      height: 8.5rem;
    }
  }
}
