/* Content expand and collapse */

.expander {
  margin-bottom: 1rem;

  header {
    background: #fff;
    border-top: 0.5rem solid #05c2d1;
    padding: 0.4rem 1.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    h2 {
      margin-top: 16px;
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }

}

.expander-btn {
  background: #fff;
  border: none;
  margin-left: 1rem;

  img {
    height: 28px;
    transform: rotate(90deg);
  }
}


.tag {
  text-transform: uppercase;
  padding: 0.5rem;
  margin-top: 0;
}

.to-do-tag {
  background: #FFE6C5;
  color: #D37901 !important;
}

.complete-tag {
  background: #DEFFC5;
  color: #4FA70D !important;
}

.show {
  background: #fff;
  padding: 0.5rem 1.75rem;
  display: block;
}

.hide {
  display: none;
}

.mark-complete-btn {
  margin-bottom: 1rem;
}

.expander-code {
  border: 1px solid $dark-gray;
  background-color: $dark-gray;
  color: white;
  font-size: 1.45rem;
  border-radius: 2px;
}
