.lesson-content {
  padding: 2em 3em;
  margin: auto;
  max-width: 1200px;

  h1, h2, h3, li, p {
    color: $dark-gray;
  }

  h1 {
    font-family: "Helvetica Neue Heavy",sans-serif;
    padding-left: 0;
    font-size: 2.5rem;
  }

  h2 {
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  h3 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .try-it-new > h3 {
    font-size: 1.75rem;
  }

  li, p {
    font-size: 1.25rem;
  }

  ul {
    padding-left: 3rem;
  }

}

.spicy-container {
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: lighten(#f9ae06, 45);
  border-radius: 2px;
}

.spicy-click {
  font-weight: bold;
}

.spicy-toggle {
  display: none;
}

.help-container {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.help-click {
  cursor: pointer;
  color: white;
  border: 0;
  padding: 2px 10px;
  background-color: #F55D73;
  border-radius: 2px;
}

.help-click:hover {
  background-color: #ef3852;
}

.help-toggle {
  display: none;
  p {
    text-align: right;
    margin-bottom: 0;
  }
}

.left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-type-cards {
  display: flex;
  justify-content: space-around;

  div {
    margin-right: .75rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  }

}

.language-cards {
  justify-content: space-between;

  div {
    background-color: #fff;
    border-top: 0.5rem solid $teal;
  }
}

.try-it-prework {
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  padding: .5rem 3rem 1rem;
  background-color: white;
  margin-bottom: 4rem;
  pre {
    border: 1px solid $dark-gray;
    background-color: $dark-gray;
    color: white;
    font-size: 1.25rem;
    border-radius: 2px;
  }
  blockquote {
    font-size: 20px;
    color: $dark-gray;
  }
}

.four-oh-four {
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  p {
    text-align: center;
    margin-bottom: 3rem;
  }
  a:visited {
    color: #fff;
  }
}
