<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
  </head>

  <body class="welcome">
    <section class="nav">
      {% include navigation.html %}
    </section>
    <section class="splash">
      <div class="center">
        <h1 class="title">{{ page.title }}</h1>
        {% include welcome.html %}
      </div>
    </section>
    <section class="content">
      <article>
        {{content}}
      </article>
      {% include footer.html %}
    </section>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  </body>
</html>
