body.welcome {
  background-color: $turing-blue;
  margin-bottom: 50px;
  .splash {
    position: relative;
    &:before {
      content: "";
      display: block;
      min-height: 500px;
      padding-top: 50%;
      transition: $default-transition;
      background-image: url("/images/turing_dark_logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (max-width: 850px) {
        min-height: 575px;
        padding-top: 80%;
      }
      @media (max-width: 700px) {
        min-height: 625px;
        padding-top: 95%;
      }
      @media (max-width: 600px) {
        min-height: 750px;
        padding-top: 125%;
      }
      @media (max-width: 500px) {
        min-height: 800px;
        padding-top: 135%;
      }
      @media (max-width: 350px) {
        min-height: 950px;
        padding-top: 155%;
      }
    }
    .center {
      background-color: rgba($turing-blue, .15);
      position: absolute;
      padding: 1em 2em;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      .title {
        color: $light;
        font-size: 3em;
        line-height: 1.3;
        margin: 1.5em auto;
        text-align: center;
      }
      .welcome-info {
        color: $light;
        line-height: 2.4;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%;
      }
    }
  }
  .content {
    background-color: $light;
    h5 {
      &:first-child {
        padding-top: 2em;
      }
    }
  }
}
